version: '3.7'

services:
  personal-wallet:
    build:
      context: ./frontend
      dockerfile: Dockerfile-local
    volumes:
      - './frontend:/app'
      - '/app/node_modules'
    ports:
      - 8080:8080
    networks:
      - app-connect

  nodejs-wallet:
    container_name: nodejs-wallet
    build:
      context: ./backend
      dockerfile: Dockerfile-local
    command: sh -c "npm run migrate && npm run seed && npm start"
    volumes:
      - .:/home/node/app
      - /home/node/app/node_modules
    depends_on:
      - postgres-wallet
      - mongo-wallet
    ports:
      - '3333:3333'
    networks:
      - app-connect

  postgres-wallet:
    container_name: postgres-wallet
    image: 'postgres'
    restart: unless-stopped
    volumes:
      - postgres-wallet-data:/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    networks:
      - app-connect

  mongo-wallet:
    container_name: mongo-wallet
    image: 'mongo'
    restart: unless-stopped
    command: mongod
    volumes:
      - mongo-wallet-data:/data
    ports:
      - '27017:27017'
    networks:
      - app-connect

volumes:
  postgres-wallet-data:
  mongo-wallet-data:

networks:
  app-connect:
    driver: bridge
